<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.rsa.carona.carona_rsa" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditarDadosActivity"
            android:label="@string/title_activity_edicao" >
        </activity>
        <activity android:name=".recuperarSenhaActivity" />
        <activity
            android:name=".registroActivity"
            android:label="@string/title_activity_registro" >
        </activity>
        <activity
            android:name=".Criar_Carona"
            android:label="@string/title_activity_criar__carona" >
        </activity>
        <activity
            android:name=".ExibirDadosUsuarioActivity"
            android:label="@string/action_perfil" >
        </activity>
        <activity
            android:name=".Detalhes_Carona"
            android:label="@string/title_activity_detalhes__carona" >
        </activity>
        <activity
            android:name=".Registro2"
            android:label="@string/title_activity_registro2" >
        </activity>
        <activity
            android:name=".DetalheUsuario"
            android:label="@string/title_activity_detalhe_usuario" >
        </activity>

        <service
            android:name=".entidades.Servico"
            android:exported="true" />

        <activity
            android:name=".testador"
            android:label="@string/title_activity_testador" />
        <activity android:name=".testador2" >
        </activity>
    </application>

</manifest>
